/* Kaikki css yhteen tiedostoon */

/* MapComponentin css */
.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .map {
    height: 70vh;
    width: 80%;
  }
  
  .info-container {
    position:absolute;
    top: 30%;
    right: 0.5%;
    height: 70vh;
    width: 20%;
    padding: 5px;
    border-right: 1px solid #ccc;
    background-color: white; 
    z-index: 1000; 
    overflow-y: auto;
  }
  
  .info-container h2 {
    margin-top: 10px;
  }
  
  .info-container ul {
    list-style-type: none;
    padding: 0px;
  }
  
  .info-container li {
    margin-bottom: 10px;
  }

  .close-button {
    position: absolute;
    top: -2px;
    left: -5px;
    background: none;
    border: solid 1px black;
    font-size: 15px;
    cursor: pointer;
  }

/* PercentAreaChart.jsx */
.areachart-container {
  position: absolute;
}  
  .areachart {
    display: inline-block;
  }

  .methodlist {
    display: inline-block;
    position: absolute;
    top: 50px;
    background-color: beige;
    width: 140px;
    height: 380px;
    padding-left: 20px;
    border-radius: 10px;
  }

  .methodlist li {
    list-style-type: square;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant-caps: all-small-caps;
  }

  .radiobuttons {
    display: inline-block;
    position: absolute;
    top: 300px;
    padding-left: 20px;
    padding-top: 20px;
    width: 80px;
    scale: 1.5;
  }

  .slider {
    margin-left: 3.5%;
    scale: 0.9;
  }

  .areachart-header {
    margin-left: 10%;
    font-variant-caps: all-small-caps;
  }
  
  /* App.jsx css */ 