/* Kaikki css yhteen tiedostoon */

/* MapComponentin css */
.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .map {
    height: 70vh;
    width: 80%;
  }
  
  .info-container {
    position:absolute;
    top: 30%;
    right: 0.5%;
    height: 70vh;
    width: 20%;
    padding: 5px;
    border-right: 1px solid #ccc;
    background-color: white; 
    z-index: 1000; 
    overflow-y: auto;
  }
  
  .info-container h2 {
    margin-top: 10px;
  }
  
  .info-container ul {
    list-style-type: none;
    padding: 0px;
  }
  
  .info-container li {
    margin-bottom: 10px;
  }

  .close-button {
    position: absolute;
    top: -2px;
    left: -5px;
    background: none;
    border: solid 1px black;
    font-size: 15px;
    cursor: pointer;
  }

/* PercentAreaChart.jsx */
.areachart-container {
  width: 50vh;
  height: 40vh;
}
  .areachart {
    position: absolute;
    left: 10%;
    right: 10%;
  }
  .slider {
    position: absolute;
    left: 30%;
    right: 10%;
  }

  /* App.jsx css */ 